<% include partials/header %>
<h1>Login form</h1>
<form method="POST" action="/login">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Log in">
</form>
<% include partials/footer %>